In [2]:
import pandas as pd
import sklearn as sk
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
m_data = pd.read_csv(r'C:\Users\USER\Documents\mobile_phone_pricing\Mobile Phone Pricing\dataset.csv')
m_data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
m_data.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [5]:
m_data.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [6]:
m_data.nunique()

battery_power    1094
blue                2
clock_speed        26
dual_sim            2
fc                 20
four_g              2
int_memory         63
m_dep              10
mobile_wt         121
n_cores             8
pc                 21
px_height        1137
px_width         1109
ram              1562
sc_h               15
sc_w               19
talk_time          19
three_g             2
touch_screen        2
wifi                2
price_range         4
dtype: int64

In [7]:
m_data.columns
def identify_binary_columns(df):
   
    binary_columns = []
    
    for column in df.columns:
        n_unique = df[column].nunique()
        if n_unique == 2:
            binary_columns.append(column)
            print(f"Binary column: {column}")
            print(f"Unique values: {df[column].unique()}")
            print("-" * 40)
    
    return binary_columns

# Get binary columns
binary_cols = identify_binary_columns(m_data)

# Print summary
print(f"\nTotal binary columns found: {len(binary_cols)}")
print("\nBinary columns list:")
print(binary_cols)

Binary column: blue
Unique values: [0 1]
----------------------------------------
Binary column: dual_sim
Unique values: [0 1]
----------------------------------------
Binary column: four_g
Unique values: [0 1]
----------------------------------------
Binary column: three_g
Unique values: [0 1]
----------------------------------------
Binary column: touch_screen
Unique values: [0 1]
----------------------------------------
Binary column: wifi
Unique values: [1 0]
----------------------------------------

Total binary columns found: 6

Binary columns list:
['blue', 'dual_sim', 'four_g', 'three_g', 'touch_screen', 'wifi']

In [8]:
nb_cols = [col for col in m_data.columns if col not in binary_cols]

print("Non-binary columns:", nb_cols)

Non-binary columns: ['battery_power', 'clock_speed', 'fc', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'price_range']

In [9]:
cols_to_scale = list(set(nb_cols)-set(['price_range']))
cols_to_scale

['battery_power',
 'ram',
 'px_height',
 'sc_w',
 'sc_h',
 'talk_time',
 'pc',
 'px_width',
 'm_dep',
 'mobile_wt',
 'int_memory',
 'fc',
 'clock_speed',
 'n_cores']

In [10]:
scaler = MinMaxScaler()
m_data[cols_to_scale] = scaler.fit_transform(m_data[cols_to_scale])
m_data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,0.227789,0,0.68,0,0.052632,0,0.080645,0.555556,0.900000,0.142857,...,0.010204,0.170895,0.612774,0.285714,0.388889,0.944444,0,0,1,1
1,0.347361,1,0.00,1,0.000000,1,0.822581,0.666667,0.466667,0.285714,...,0.461735,0.993324,0.634687,0.857143,0.166667,0.277778,1,1,0,2
2,0.041416,1,0.00,1,0.105263,1,0.629032,0.888889,0.541667,0.571429,...,0.644388,0.811749,0.627205,0.428571,0.111111,0.388889,1,1,0,2
3,0.076152,1,0.80,0,0.000000,0,0.129032,0.777778,0.425000,0.714286,...,0.620408,0.858478,0.671566,0.785714,0.444444,0.500000,1,0,0,2
4,0.881764,1,0.28,0,0.684211,1,0.677419,0.555556,0.508333,0.142857,...,0.616327,0.475300,0.308658,0.214286,0.111111,0.722222,1,1,0,1

In [11]:
m_data['price_range'].value_counts()

price_range
1    500
2    500
3    500
0    500
Name: count, dtype: int64

# Split features and target

In [12]:
X = m_data.drop('price_range', axis=1)
y = m_data['price_range']

# Train-test split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Parameter grid for random search

In [19]:
param_grid = {
    'n_estimators': [100, 200, 300, 400, 500],
    'max_features': ['auto', 'sqrt'],
    'max_depth': [20, 30, 40, 50, 70, 100],
    'min_samples_split': [4, 15, 25],
    'min_samples_leaf': [2, 4, 8],
    'bootstrap': [True, False]
}

# Model

In [20]:
# Create base model
rf = RandomForestClassifier(random_state=42)

# Perform RandomizedSearchCV
rf_random = RandomizedSearchCV(
    estimator=rf,
    param_distributions=param_grid,
    n_iter=100,
    cv=5,
    verbose=2,
    random_state=42,
    n_jobs=-1
)

# Fit the random search model
rf_random.fit(X_train, y_train)

# Print best parameters
print("Best Parameters:", rf_random.best_params_)

# Get best model
best_model = rf_random.best_estimator_

# Make predictions
y_pred = best_model.predict(X_test)

# Print model evaluation
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

# Feature importance
feature_importance = pd.DataFrame({
    'feature': X_train.columns,
    'importance': best_model.feature_importances_
}).sort_values('importance', ascending=False)

# Print top 10 important features
print("\nTop 10 Important Features:")
print(feature_importance.head(10))

Fitting 5 folds for each of 100 candidates, totalling 500 fits

c:\Users\USER\conda\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
245 fits failed out of a total of 500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
100 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\USER\conda\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\USER\conda\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "c:\Users\USER\conda\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\USER\conda\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
145 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\USER\conda\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\USER\conda\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "c:\Users\USER\conda\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\USER\conda\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\USER\conda\Lib\site-packages\sklearn\model_selection\_search.py:1102: UserWarning: One or more of the test scores are non-finite: [0.870625      nan      nan 0.87625  0.866875 0.859375      nan      nan
 0.859375      nan 0.85875       nan      nan 0.860625      nan 0.8525
 0.870625 0.864375      nan 0.866875 0.855625 0.85125       nan      nan
 0.855625 0.860625      nan      nan      nan      nan      nan 0.878125
 0.861875      nan 0.854375 0.86375       nan 0.850625      nan 0.863125
      nan 0.859375 0.8725   0.871875      nan      nan 0.8525        nan
 0.86375       nan      nan      nan      nan      nan 0.859375      nan
      nan      nan      nan 0.854375 0.865    0.854375 0.86875       nan
      nan      nan 0.86375       nan 0.8525        nan      nan      nan
 0.855         nan      nan      nan 0.86375  0.878125 0.855625 0.87625
 0.8525   0.855625      nan 0.8575        nan 0.8525   0.861875      nan
 0.86375       nan      nan 0.861875 0.861875 0.854375 0.84625  0.878125
 0.86375       nan      nan 0.8525  ]
  warnings.warn(

Best Parameters: {'n_estimators': 500, 'min_samples_split': 4, 'min_samples_leaf': 2, 'max_features': 'sqrt', 'max_depth': 30, 'bootstrap': False}

Classification Report:
              precision    recall  f1-score   support

           0       0.94      0.95      0.95       105
           1       0.87      0.85      0.86        91
           2       0.79      0.84      0.81        92
           3       0.93      0.89      0.91       112

    accuracy                           0.89       400
   macro avg       0.88      0.88      0.88       400
weighted avg       0.89      0.89      0.89       400


Top 10 Important Features:
          feature  importance
13            ram    0.552759
0   battery_power    0.073262
11      px_height    0.051545
12       px_width    0.051034
8       mobile_wt    0.033175
6      int_memory    0.031497
16      talk_time    0.024072
10             pc    0.023368
14           sc_h    0.023007
15           sc_w    0.022572